* {
    box-sizing: border-box;
}

body {
    font-size: 13px;
    font-family: Tahoma, Arial;
}

button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

 .button1 {background-color: #4CAF50;}/*Green */


nav {
    width: 100%;
    background-color: #4d5791;
    height: 44px;
    padding: 0 40px;
}

nav ul,
nav ul li {
    margin: 0;
    padding: 0 ;
    list-style: none;
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 0 20px;
    line-height: 44px;
    font-size: 1.4em;
    text-decoration: none;
    color: #fff;
    margin: 0;
}

nav ul li a:hover  {
    background-color: white;
    color: #4d5791;
}



header {
    height: 350px;
    background-color: #b4c6f0;
    background-image: url('/bg.png');
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 40px;
}

header h1,
header h2 {
    text-align: center;
    margin: 0;
}

header h1 {
    color: #fff;
    font-size: 4.2em;
    margin-bottom: 20px;
}

header h2 {
    color: #4d5791;
}

main {
    padding: 40px;
    width: 100%;
}

.page-area {
    max-width: 768px;
    display: inline-block;
}


/* Semantic HTML CSS change */
figure {
    border: 1px #cccccc solid;
    padding: 4px;
    margin: center;
  }

/* Semantic HTML CSS change*/
figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
}

/*
figcaption {
    display: block;
  } */

footer {
    height: 50px;
    background-color: #b4c6f0;
    padding: 40px;
}



.center {
    text-align: center;
}

main div.text-box {
    display: inline-block;
    width: 100%;
    max-width: 340px;
    text-align: justify;
    margin: 20px;
}

@media screen and (min-width: 768px) {
    main .div.text-box {
        margin: 10px;
    }
}




/* body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 960px;
    height: 500px;
    position: relative;
  } */
  
  svg {
      width: 100%;
      height: 100%;
  }
  
  path.slice{
      stroke-width:2px;
  }
  
  polyline{
      opacity: .3;
      stroke: black;
      stroke-width: 2px;
      fill: none;
  }

  #pie-chart{
    height: 300px;
  }